<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div style="width:1000px;height:268px;margin:auto;">
			<iframe src="../html/farm_top.html" align="center" width="1000px" height="268px" frameborder="0" scrolling="no">	</iframe>	
		</div>
		<div style="width:1000px;height:33px;margin:auto;">
			<iframe src="../html/farm_mid.html" align="center" width="1000px" height="33px" frameborder="0" scrolling="no">	</iframe>	
		</div>
		<div style="width:1000px;height:268px;margin:auto;">
			<iframe src="../html/farm_bottom.html" align="center" width="1000px" height="268px" frameborder="0" scrolling="no">	</iframe>	
		</div>
	</body>
</html>
