<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../css/stylefwbzy99_2.css" rel="stylesheet" type="text/css">
		<link href="../css/menu_7_2.css" rel="stylesheet" type="text/css">
		<link href="../css/style_13.css" rel="stylesheet" type="text/css">
		<link href="../css/menu_7.css" rel="stylesheet" type="text/css">
		<link href="../css/style_28.css" rel="stylesheet" type="text/css">
		<link href="../css/style2.css" rel="stylesheet" type="text/css">		
	</head>
	<script>
		function _changeFontSize(num,iHeight){
			var contentElement = document.getElementById("nr");

			contentElement.style.fontSize = num + "px";
			
			contentElement.style.lineHeight = iHeight + "px";
			var subElements = contentElement.getElementsByTagName("p");
			for (var i = 0; i < subElements.length; i++){
				subElements[i].style.fontSize = num + "px";
				subElements[i].style.lineHeight = iHeight + "px";
			}
		}
	</script>
	<body>
		<table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td height="10"></td>
				</tr>
			</tbody>
		</table>
		<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td align="center" valign="top">
						<table width="700" border="0" cellpadding="0" cellspacing="0">
							<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td align="center" valign="top" class="bk_7">
											<table width="100" border="0" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td height="14"></td>
													</tr>
												</tbody>
											</table>
											<table width="660" border="0" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td width="80" align="center" valign="middle"><a href="javascript:window.close();"><img src="../images/ix_5.jpg" width="59" height="18" border="0"></a></td>							
														<td width="80" align="center" valign="middle"><a href="javascript:print();"><img src="../images/ix_4.jpg"
																 width="59" height="18" border="0"></a></td>											
														<td align="right" class="huang_12-2">字体选择： </td>
														<td width="30" align="center" class="hui_16"><a href="javascript:_changeFontSize(16,30);" class="link03">大</a>
														</td>
														<td width="30" align="center" class="hui_14"><a href="javascript:_changeFontSize(14,25);" class="link03">中</a>
														</td>
														<td width="30" align="center" class="hui_12"><a href="javascript:_changeFontSize(12,20);" class="link03">小</a></td>
													</tr>
												</tbody>
											</table>
											<table width="660" border="0" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td height="4"></td>
													</tr>
													<tr>
														<td height="18" class="bk_20">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" border="0" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td align="center" class="hui_15_cu">渝北区2019年一代大螟发生情况与防治措施</td>
													</tr>
													<tr>
														<td align="center" class="hui_12-12">日期：2019-04-18 09:01 作者： 来源：　渝北区植保植检站</td>
													</tr>
													<tr>

														<td align="left" valign="top" class="hui_14-1" id="nr">
															<div class="TRS_Editor">
																<p>　　大螟是一种杂食性害虫，除危害水稻外，还危害玉米、茭白等经济作物。在我区一年发生2-3代，抓好一代大螟的防治工作，可以减轻二代大螟对水稻的防治压力。</p>
																<p>　　一、发生情况：</p>
																<p>　　我站在大盛、大湾等测报点调查。今年，我区大螟冬后残虫与往年相当，预计一代大螟为中等发生，发生程度3级，发生面积2万亩。入春以来，气温回升快，温度偏高，加快了大螟发育进度。灯下于4月1日始见大螟成虫，比去年同期，4月8日，达到羽化高峰，比去年提早1天，预计低海拔地区大螟卵孵高峰期为4月中下旬。</p>
																<p>　　二、防治措施</p>
																<p>　　1、防治时期：</p>
																<p>　　海拔400米以下地区4月中下旬，海拔400米以上地区4月底至5月上旬。</p>
																<p>　　2、防治药剂</p>
																<p>　　在心叶末期喷洒苏云金杆菌（Bt）制剂，或用氯虫苯甲酰胺、噻虫嗪、四氯虫酰胺、甲氨基阿维菌素苯甲酸盐等药剂喷施，以上药剂任选一种兑水进行常规喷雾，或拌细沙土成为毒土，撒入玉米新叶内。</p>
																<p>　</p>
															</div>
															<div align="center" style="padding-top:60px;">
																<script language="javascript">
																	var currentPage = 0; //所在页从0开始
																	var prevPage = currentPage - 1 //上一页
																	var nextPage = currentPage + 1 //下一页
																	var countPage = 1 //共多少页


																	//设置上一页代码
																	if (countPage > 1 && currentPage != 0 && currentPage != 1)
																		document.write(
																			"<a target=\"_self\" href=\"t20190419_6377489.htm\">[首页]</a>&nbsp;<a target=\"_self\" href=\"t20190419_6377489" +
																			"_" + prevPage + "." + "htm\">[上一页]</a>&nbsp;");
																	else if (countPage > 1 && currentPage != 0 && currentPage == 1)
																		document.write(
																			"<a target=\"_self\" href=\"t20190419_6377489.htm\">[首页]</a>&nbsp;<a target=\"_self\" href=\"t20190419_6377489.htm\">[上一页]</a>&nbsp;"
																		);
																	else if (countPage > 1) {
																		document.write("[首页]&nbsp;[上一页]&nbsp;");
																	}

																	//设置下一页代码 
																	if (countPage > 1 && currentPage != (countPage - 1))
																		document.write("<a target=\"_self\" href=\"t20190419_6377489" + "_" + nextPage + "." +
																			"htm\">[下一页]</a>&nbsp;<a target=\"_self\" href=\"t20190419_6377489_" + (countPage - 1) +
																			".htm\">[尾页]</a>&nbsp;");
																	else if (countPage > 1) {

																		document.write("[下一页]&nbsp;[尾页]&nbsp;");
																	}

																	if (countPage > 1) {

																		document.write("&nbsp;&nbsp;&nbsp;共" + countPage + "页&nbsp;&nbsp;");
																		var dqp = currentPage + 1
																		document.write("&nbsp;&nbsp;&nbsp;第<font color=red>" + dqp + "</font>/" + countPage +
																			"页&nbsp;&nbsp;&nbsp;&nbsp;")																	
																		//跳转页面
																		document.write('转到第<input type="text" id="num" value=' + (currentPage + 1) +
																			' style="width:30px;text-align:center;" />页' +
																			'&nbsp;<input type="submit" value="&nbsp;Go&nbsp;" onClick="javascript:toPage()" /></font>');
																	}

																	if (countPage > 1) {

																		document.write("<hr color=\"#CCCCCC\" style=\"width:550px\" />")
																	}


																	function toPage() {
																		var _num = document.getElementById("num").value;
																		var str = "t20190419_6377489" + "_" + (_num - 1) + "." + "htm";
																		var url = location.href.substring(0, location.href.lastIndexOf("/") + 1);
																		if (_num <= 1 || _num == null)
																			location.href = url + "t20190419_6377489" + "." + "htm";
																		else if (_num > countPage)
																			alert("本篇文章最多" + countPage + "页");
																		else
																			location.href = url + str;
																	}
																</script>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
