<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../css/stylefwbzy99_2.css" rel="stylesheet" type="text/css">
		<link href="../css/menu_7_2.css" rel="stylesheet" type="text/css">
		<link href="../css/style_13.css" rel="stylesheet" type="text/css">
		<link href="../css/menu_7.css" rel="stylesheet" type="text/css">
		<link href="../css/style_28.css" rel="stylesheet" type="text/css">
		<link href="../css/style2.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td height="10"></td>
				</tr>
			</tbody>
		</table>
		<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td width="10" align="center" valign="top"></td>
					<td align="center" valign="top">
						<table width="500" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td width="7" height="35" align="left" valign="bottom"><img src="../images/i6_3_2.jpg" width="7" height="34"></td>
									<td width="12" background="../images/i1_4_5.jpg">&nbsp;</td>
									<td align="left" valign="middle" background="../images/i1_4_5.jpg" class="huang_14_cu"><a href="#" class="link07">全国墒情</a></td>
									<td background="../images/i1_4_5.jpg" width="6" height="35"><img src="../images/i1_5_4.jpg" width="6" height="35"></td>
								</tr>
							</tbody>
						</table>
						<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="center" valign="top" class="bk_7">
										<table width="100" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td height="10"></td>
												</tr>
											</tbody>
										</table>
										<table width="480" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td style="border-bottom:1px #E5E5E5 solid;" align="left" valign="middle" class="bj_3-2">
														<a class="link03" href="./201904/t20190401_6366486.htm" target="_blank">全国土壤墒情信息2019年第03期</a>

													</td>
													<td style="border-bottom:1px #E5E5E5 solid;" width="120" align="right" valign="middle" class="hui_14">(2019-04-01)
													</td>
												</tr>
											</tbody>
										</table>
										<table width="100" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td height="10"></td>
												</tr>
											</tbody>
										</table>

										<table width="480" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td style="border-bottom:1px #E5E5E5 solid;" align="left" valign="middle" class="bj_3-2">
														<a class="link03" href="./201901/t20190109_6319323.htm" target="_blank">全国土壤墒情信息2018年第13期</a>

													</td>
													<td style="border-bottom:1px #E5E5E5 solid;" width="120" align="right" valign="middle" class="hui_14">(2018-12-28)
													</td>
												</tr>
											</tbody>
										</table>
										<table width="100" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td height="10"></td>
												</tr>
											</tbody>
										</table>
										<table width="480" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td align="center" class="hui_12-11">

														<div class="pageInfo list_navigator" id="list_navigator"></div>
														<div id="pageBar" style="height: 30px; line-height: 30px; text-align: center; clear: both; display: block;">
															<span id="first">
																<font class="gray">[首页]</font>
															</span>&nbsp;&nbsp;<span id="previous">
																<font class="gray">[上一页]</font>
															</span>

															<span id="next"><a style="color:#ff0000" href="index_1.htm">[下一页]</a></span>&nbsp;&nbsp;<span id="last"><a
																 style="color:#ff0000" href="index_5.htm">[尾页]</a></span>
															<span id="pageBar1">共6页&nbsp;&nbsp;第1/6页</span>&nbsp;&nbsp;

															<span>转到第<input name="gotoPage" type="text" style="width: 25px; height: 13px;" onkeydown="if(event.keyCode=='13')gotoPage()">页<input
																 type="button" value="go" onclick="gotoPage()"></span>

														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td width="10" align="center" valign="top"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
