BODY {
	BACKGROUND-IMAGE: url(../images/bj.jpg); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
SELECT {
	FONT-SIZE: 12px
}
IFRAME {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	TEXT-TRANSFORM: none; COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	TEXT-TRANSFORM: none; COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.link01:link {
	TEXT-TRANSFORM: none; TEXT-DECORATION: none
}
A.link01:visited {
	TEXT-TRANSFORM: none; TEXT-DECORATION: none
}
A.link01:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.link02:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.link02:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.link02:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.link03:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.link03:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.link03:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.link04:link {
	COLOR: #428c04; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.link04:visited {
	COLOR: #428c04; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.link04:hover {
	COLOR: #333333; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.link05:link {
	COLOR: #d50000; TEXT-DECORATION: none
}
A.link05:visited {
	COLOR: #d50000; TEXT-DECORATION: none
}
A.link05:hover {
	COLOR: #920000; TEXT-DECORATION: underline
}
A.link06:link {
	COLOR: #be5601; TEXT-DECORATION: none
}
A.link06:visited {
	COLOR: #be5601; TEXT-DECORATION: none
}
A.link06:hover {
	COLOR: #920000; TEXT-DECORATION: underline
}
A.link07:link {
	COLOR: #d85604; TEXT-DECORATION: none
}
A.link07:visited {
	COLOR: #d85604; TEXT-DECORATION: none
}
A.link07:hover {
	COLOR: #d85604; TEXT-DECORATION: underline
}
A.link08:link {
	COLOR: #4e8702; TEXT-DECORATION: none
}
A.link08:visited {
	COLOR: #4e8702; TEXT-DECORATION: none
}
A.link08:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.link09:link {
	COLOR: #4f8905; TEXT-DECORATION: none
}
A.link09:visited {
	COLOR: #4f8905; TEXT-DECORATION: none
}
A.link09:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.hei_12_cu {
	PADDING-BOTTOM: 4px; COLOR: #000000; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.hui_12 {
	COLOR: #333333
}
.hui_12-1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666
}
.hui_12-2 {
	TEXT-ALIGN: left; PADDING-LEFT: 6px; COLOR: #333333
}
.hui_12-3 {
	LINE-HEIGHT: 160%; COLOR: #333333
}
.hui_12_cu {
	COLOR: #3c3c3c; FONT-WEIGHT: bold
}
.huang_12 {
	COLOR: #f0e801
}
.huang_12-2 {
	COLOR: #be5601
}
.hong_12_cu {
	COLOR: #d50000; FONT-WEIGHT: bold
}
.lv_12 {
	COLOR: #518806; FONT-SIZE: 12px
}
.lv_12-1 {
	COLOR: #428c04; FONT-SIZE: 12px
}
.lv_12-2 {
	COLOR: #4e8702; FONT-SIZE: 12px
}
.lv_12_cu {
	PADDING-LEFT: 10px; COLOR: #4f8905; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.lv_14_cu {
	COLOR: #4f8905; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.lv_15 {
	COLOR: #a1d416; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.lv_15-1 {
	BACKGROUND-IMAGE: url(../images/s-1.jpg); PADDING-LEFT: 13px; PADDING-RIGHT: 13px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #a1d416; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.bj_1 {
	BACKGROUND-IMAGE: url(../images/d.jpg); TEXT-ALIGN: left; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; COLOR: #000000
}
.bj_2 {
	BACKGROUND-IMAGE: url(../images/i_06-1.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; COLOR: #4f8905; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.bj_2-1 {
	COLOR: #4f8905; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bj_3 {
	BACKGROUND-IMAGE: url(../images/d.jpg); TEXT-ALIGN: left; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; PADDING-TOP: 4px
}
.bj_3-1 {
	BACKGROUND-IMAGE: url(../images/d.jpg); TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; PADDING-TOP: 3px
}
.bj_4 {
	BACKGROUND-IMAGE: url(../images/i_09.jpg); TEXT-ALIGN: left; PADDING-LEFT: 16px; PADDING-RIGHT: 21px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center
}
.bj_5 {
	BACKGROUND-IMAGE: url(../images/i_12-1.jpg); PADDING-BOTTOM: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom; COLOR: #d85604; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.bj_5-2 {
	BACKGROUND-IMAGE: url(../images/i_12-1.jpg); PADDING-BOTTOM: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom; COLOR: #d85604; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.bj_5-1 {
	BACKGROUND-IMAGE: url(../images/i_12-1.jpg); PADDING-BOTTOM: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom; COLOR: #d85604; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.bj_6 {
	BACKGROUND-IMAGE: url(../images/i_12-2.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center bottom; COLOR: #d85604; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.bj_6-2 {
	BACKGROUND-IMAGE: url(../images/i_12-2.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center bottom; COLOR: #d85604; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.bj_7 {
	BACKGROUND-IMAGE: url(../images/i_13-1.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom; COLOR: #4f8905; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bj_8-1 {
	BACKGROUND-IMAGE: url(../images/i_14-2.jpg); PADDING-BOTTOM: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; COLOR: #ffffff; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
.bj_9 {
	BACKGROUND-IMAGE: url(../images/i_18.jpg); BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: center center
}
.bj_10 {
	BACKGROUND-IMAGE: url(../images/i_20.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center top
}
.bj_11 {
	BACKGROUND-IMAGE: url(../images/i_23-2.jpg); PADDING-LEFT: 8px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center 50%
}
.bj_11-1 {
	BACKGROUND-IMAGE: url(../images/i_23-3.jpg); PADDING-LEFT: 8px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center 50%
}
.bj_12 {
	BACKGROUND-IMAGE: url(../images/i_24-5.jpg); BORDER-LEFT: #ead1b3 1px solid; PADDING-BOTTOM: 8px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center top; BORDER-RIGHT: #ead1b3 1px solid; PADDING-TOP: 8px
}
.bj_13 {
	BACKGROUND-IMAGE: url(../images/i_25-9.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center top
}
.bj_14 {
	BACKGROUND-IMAGE: url(../images/i_25-10.jpg); PADDING-LEFT: 32px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.bj_15 {
	BACKGROUND-IMAGE: url(../images/i_25-12.jpg); TEXT-ALIGN: left; PADDING-LEFT: 32px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.bj_16 {
	BACKGROUND-IMAGE: url(../images/i_12-2.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center bottom
}
.bk_1 {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 12px; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 12px
}
.bk_2 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 1px
}
.bk_3 {
	BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; PADDING-BOTTOM: 10px; BORDER-RIGHT: #dedede 1px solid; PADDING-TOP: 10px
}
.bk_4 {
	BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #d7d7d7 1px solid; BORDER-RIGHT: #d7d7d7 1px solid; PADDING-TOP: 2px
}
.bk_5 {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f5f5f5; BORDER-TOP: #ffffff 1px solid; PADDING-TOP: 4px
}
.bk_6 {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 7px; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 7px
}
.bk_7 {
	BORDER-BOTTOM: #ead1b3 1px solid; BORDER-LEFT: #ead1b3 1px solid; BORDER-RIGHT: #ead1b3 1px solid
}
.bk_8 {
	BACKGROUND-IMAGE: url(../images/s.jpg); PADDING-BOTTOM: 4px; PADDING-RIGHT: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #4f8905; PADDING-TOP: 4px
}
.bk_9 {
	BORDER-BOTTOM: #fcc453 2px solid; BORDER-LEFT: #fcc453 2px solid; BORDER-RIGHT: #fcc453 2px solid
}
.input1 {
	BORDER-BOTTOM: #c0c0c0 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #818181 1px solid; WIDTH: 96px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666666; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; BORDER-TOP: #818181 1px solid; BORDER-RIGHT: #c0c0c0 1px solid
}
.input2 {
	WIDTH: 60px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666666; FONT-SIZE: 12px
}
.input3 {
	WIDTH: 100px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666666; FONT-SIZE: 12px
}
.input4 {
	WIDTH: 145px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666666; FONT-SIZE: 12px
}